<div class="row animated bounceInRight">
    <div class="col-6 card mb-3 venta" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../../assets/Images/Venta/001.webp" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Kit Guitarra Electrica Con Amplificador Correa Cable</h5>
              <p class="card-text">KIT DE GUITARRA ELECTRICA CON AMPLIFICADOR CORREA Y CABLE COLORES DISPONIBLES ROJO - AZUL - NEGRA - SOMBORS</p>
              <p class="card-text"><small class="text-muted">$
                738.000</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="col-6 card mb-3 venta" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../../assets/Images/Venta/002.webp" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Guitarra Eléctrica Con Amplificador Micrófono</h5>
              <p class="card-text">
                Juguete Guitarra Eléctrica Con Amplificador Micrófono Niñas y Niños
                
              <p class="card-text"><small class="text-muted">$175.000</small></p>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="row animated bounceInLeft">
    <div class="col-6 card mb-3 venta" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../../assets/Images/Venta/003.webp" class="img-fluid rounded-start" style="max-height: 240px;" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Guitarra eléctrica Persian EGR240</h5>
              <p class="card-text">Disfruta con esta guitarra Persian de la conexión con la música. Con este instrumento descubrirás nuevos acordes, entonarás tus canciones y disfrutarás de la vida musical.
              <p class="card-text"><small class="text-muted">$
                587.000</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="col-6 card mb-3 venta" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../../assets/Images/Venta/004.webp" class="img-fluid rounded-start" style="max-height: 240px;" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Guitarra Eléctrica Chateau En Kit Completo Por Citimusic</h5>
              <p class="card-text">
                Ahorra dinero con este kit completo Citimusic de guitarra Eléctrica Chateau ST01 que viene con todo lo necesario para tu practica y cuidado del instrumento
                
              <p class="card-text"><small class="text-muted">$740.000</small></p>
            </div>
          </div>
        </div>
    </div>
</div>
