<div class="row animated bounceInRight">
    <br>
    <div class="col-6 card mb-3 venta" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <br>
            <img src="../../../../assets/Images/pianos/organo-1.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> Organo yamaha 2013</h5>
              <p class="card-text">ORGANO YAMAHA B-35NF ELECTONE, COMPLETAMENTE OPERATIVO, PERFECTAMENTE CONSERVADO, LE FUNCIONAN TODAS LAS TECLAS. A TODA PRUEBA.</p>
              <p class="card-text"><small class="text-muted">$
                3'110.438</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="col-6 card mb-3 venta" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <br>
            <img src="../../../../assets/Images/pianos/organo-2.jpg" class="img-fluid rounded-start" alt="..." id="piano-rosa">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> Organo nuevo funcional Yamaha</h5>
              <p class="card-text">
                Stagea Mini. Para El DISFRUTE De Todos, Electone Siempre En Su Vida. La Habilidad Musical Se Desarrolla De Manera Natural A Medida Que Juega Los Teclados. El Stagea Mini Hace Que Sea FACIL.
                
              <p class="card-text"><small class="text-muted">$2'235.000</small></p>
            </div>
          </div>
        </div>
    </div>
  </div>
  

    


