<div class="row animated bounceInRight" id="muestra" style="text-align: center; align-content: center;">
    <h1>
      <br>
      <p class="h1-muestra" style="font-family: Albertus;">
        Acá una muestra de lo que tenemos
      </p>
    </h1>
    <span style="margin-left: 10%;">
      <hr class="bg.dark" style="size: 30; width: 75%;"/>
    </span>
  </div>

  <!-- <div class="row">
      <div class="col-4">
        <div class="card mb-3">
            <h3 class="card-header">Card header</h3>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <h6 class="card-subtitle text-muted">Support card subtitle</h6>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
  </div> -->


<section class="row animated bounceInLeft post-content">
   <div class="col-12 post-details presentacion">
     <div class="row">
        <div class="card-group">
          <div class="card">
            <img src="../assets/Images/Muestra/01.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Guitarra Eléctrica</h5>
              <p class="card-text">Esta es una guitarra eléctrica de color rojo (diseño personalizado 3D),  que está en inventario, para más información consulte nuestro menú.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="../assets/Images/Muestra/02.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Guitarra Eléctrica</h5>
              <p class="card-text">Esta es una guitarra eléctrica de color Negro (diseño personalizado 3D)  que está en inventario, para más información consulte nuestro menú.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="../assets/Images/Muestra/03.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Guitarra Acústica</h5>
              <p class="card-text">Estas son guitarra acusticas clásicas de 3 colores diferentes que está en inventario, para más información consulte nuestro menú.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
     </div>
      <div class="card-group">
        <div class="card">
          <img src="../assets/Images/Muestra/04.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Piano de cola</h5>
            <p class="card-text">Esta es un Piano de cola que está en inventario, para más información consulte nuestro menú.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/Images/Muestra/05.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Piano de cola clásico</h5>
            <p class="card-text">Esta es un Piano de cola clásico que está en inventario, para más información consulte nuestro menú.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/Images/Muestra/06.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bateria eléctrica</h5>
            <p class="card-text">Esta es una batería eléctrica que está en inventario, para más información consulte nuestro menú.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <br>
   </div>
</section>
