<div class="row lista animated bounceInRight">
    <div class="card mb-3">
        <img src="../../../../assets/Images/Lista/001.jpg" class="card-img-top image-g" alt="...">
        <div class="card-body">
          <h5 class="card-title">Guitarras electro-acústicas</h5>
          <p class="card-text">Las guitarras electro-acústicas son guitarras que disponen de un pick-up (básicamente un micrófono) instaladas en ellas, de forma que puedan ser conectadas a amplificadores o sistemas PA.
            Esta es una forma de conectar una guitarra acústica a un amplificador para hacer que suene más fuerte..</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Guitarras semi-acústicas</h5>
          <p class="card-text">Las guitarras semi-acústicas están en el punto medio entre guitarras acústicas y eléctricas..</p>
          <p class="card-text">Son delgadas y compactas como las guitarras eléctricas, pero tienen cuerpos huecos como las guitarras acústicas.
            Debido a que son delgadas y compactas, no producen sonido tan fuerte cuando no están conectadas a diferencia de una guitarra acústica, de aquí es que viene su nombre: semi-acústica.

            Algunos modelos notables de las guitarras semi-acústicas son el Gibson ES-335 y el Fender Telecaster Thinline (básicamente una telecaster semi-acústica).
          </p>
          <p class="card-text">.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="../../../../assets/Images/Lista/002.jpg" class="card-img-bottom image-g" alt="...">
    </div>

    <div class="card mb-3" style="margin-top: 4%;">
        <img src="../../../../assets/Images/Lista/003.jpg" class="card-img-top image-g" alt="...">
        <div class="card-body">
          <h5 class="card-title">Guitarras eléctricas</h5>
          <p class="card-text">A diferencia de las guitarras anteriores, estas guitarras tienen cuerpos sólidos y debido a eso, producen muy poco sonido a menos que estén conectadas a un amplificador.</p>
          <p class="card-text">Si quieres una guitarra eléctrica, necesitas un amplificador.

            Las guitarras eléctricas vienen en distintos tamaños y formas. Algunas de las más icónicas son la Gibson Les Paul, la Fender Stratocaster y la Fender Telecaster.</p>
          <p class="card-text">Al igual que las guitarras acústicas, las guitarras eléctricas son usualmente hechas de maderas y suelen tener seis cuerdas, aunque existen de todas formas versiones con doce cuerdas.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bajo</h5>
          <p class="card-text">Hubo un tiempo donde ser el bajista significaba tocar un enorme contrabajo como se ven en las orquestas y bandas de jazz.

            Afortunadamente, los colegas en Fender eventualmente crearon una versión del bajo en guitarra, que, entre otras cosas, es mucho más portátil que su predecesor.</p>
          <p class="card-text">A diferencia de las guitarras, los bajos usualmente sólo disponen de cuatro cuerdas, y son grandes y gruesas, que producen un sonido grande y grueso.

            El bajo suena grave y bajo.
            
            El bajo más reconocible probablemente es el Fender Precision, pero también tenemos el Violín Hofner, favorecido por el Señor Paul McCartney y el Rickenbacker 4001, el cual fue tocado por Bruce Foxton de The Jam.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="../../../../assets/Images/Lista/004.png" class="card-img-bottom image-g" alt="...">
    </div>
</div>