<div class="row animated bounceInRight">
    <br>
    <div class="col-6 card mb-3 venta" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <br>
            <img src="../../../../assets/Images/pianos/piano-pro-1.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Piano profesional yamaha</h5>
              <p class="card-text">Piano Digital 88 Teclas Semipesada Base Doble Forro En Lona</p>
              <p class="card-text"><small class="text-muted">$
                1'290.438</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="col-6 card mb-3 venta" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <br>
            <img src="../../../../assets/Images/pianos/piano-pro-2.png" class="img-fluid rounded-start" alt="..." id="piano-rosa">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> Piano clasico original Yamaha</h5>
              <p class="card-text">
                Este piano de cola se caracteriza por su sonido rico y cálido, siendo una elección más que acertada para instituciones y centros de enseñanza así como pianistas profesionales por sus prestaciones y rendimiento.
                
              <p class="card-text"><small class="text-muted">$1'775.000</small></p>
            </div>
          </div>
        </div>
    </div>
  </div>
  

    

