<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content">
        
    <header>
        <app-cabecera></app-cabecera>
    </header>   

    <div class="row">
      <app-menu></app-menu>
    </div>

    <!-- Acá inicia el carrusel -->
    
    <router-outlet></router-outlet>
   <!-- Acá acaba el carrusel -->

  <footer class="row footer section section-bottom bg-dark">
    <app-footer></app-footer>
  </footer>
</div>
