<div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="inicio">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="contacto">Contáctenos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="muestra">Algunos Productos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Guitarras
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Ukuleles</a></li>
                <li><a class="dropdown-item" href="#">Bajos eléctricos</a></li>
                <li><a class="dropdown-item" href="#">Guitarras eléctricas</a></li>
                <li><a class="dropdown-item" href="#">Guitarras acústicas</a></li>
                <li><a class="dropdown-item" href="#">Guitarras electroacústicas</a></li>
                <li><a class="dropdown-item" href="#">Guitarras para niños</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Accesorios</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Baterías
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Baterías</a></li>
                <li><a class="dropdown-item" href="#">Platillos</a></li>
                <li><a class="dropdown-item" href="#">Blaquetas</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Accesorios</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Teclados y Pianos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Teclados y organetas para niños</a></li>
                <li><a class="dropdown-item" href="#">Teclados profesionales</a></li>
                <li><a class="dropdown-item" href="#">Teclados y organetas yamaha</a></li>
                <li><a class="dropdown-item" href="#">Pianos</a></li>
                <li><a class="dropdown-item" href="#">Sintetizadores</a></li>
                <li><a class="dropdown-item" href="#">Teclados casio</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Accesorios</a></li>
              </ul>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
  </div>