<div class="row animated bounceInRight">
  <div class="col-6 card mb-3 venta" style="max-width: 600px;">
      <div class="row g-0">
        <div class="col-md-4">
          <br>
          <img src="../../../../assets/Images/pianos/sintetizador-1.png" class="sintetizadores img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Amplificador Maschine + Standalone</h5>
            <p class="card-text">El instrumento independiente de producción e interpretación MASCHINE+ de Native Instruments es un sampler profesional, una caja de ritmos, un sintetizador y una central eléctrica en el escenario ideal para productores, músicos, DJ y diseñadores de sonido. La unidad funciona completamente como independiente, sin necesidad de una computadora.</p>
            <p class="card-text"><small class="text-muted">$
              1'438.000</small></p>
          </div>
        </div>
      </div>
  </div>
  <div class="col-6 card mb-3 venta" style="max-width: 540px;">
      <div class="row g-0">
        
        <div class="col-md-4">
          <br>
          <img src="../../../../assets/Images/pianos/sintetizador-2.png" class="sintetizadores img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Sintetizador Roland GAIA SH-01</h5>
            <p class="card-text">
              El sh-01a es una minuciosa reproducción del emblemático Roland SH-101, uno de los sintetizadores clásicos más populares de todos los tiempos. Su tecnología analog circuit behavior (acb) reproduce los legendarios sonidos del sh-101 recreando fielmente el comportamiento real de los circuitos analógicos originales, incluidos los detalles más pequeños y las anomalías que han conquistado a músicos y productores durante décadas.
              
            <p class="card-text"><small class="text-muted">$1'175.000</small></p>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row animated bounceInLeft">
  <div class="col-6 card mb-3 venta" style="max-width: 600px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../../assets/Images/pianos/sintetizador-3.png" class="sintetizadores img-fluid rounded-start" style="max-height: 240px;" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Subsequent 25 - Sintetizador</h5>
            <p class="card-text">Subsequent 25 - sintetizador análogo parafónico de Moog Music Audiotecna es el representante exclusivo para Colombia de Moog Music. Moog Subsequent 25 es un sintetizador análogo parafónico de dos notas que combina el alma analógica de los instrumentos Moog clásicos con la comodidad y el flujo de trabajo de una máquina moderna. Subsequent 25 es el sintetizador de teclado más compacto de la marca, pero sigue ofreciendo toda la densidad sonora por la que son conocidos los sintetizadores Moog.
            <p class="card-text"><small class="text-muted">$
              1'537.000</small></p>
          </div>
        </div>
      </div>
  </div>
  <div class="col-6 card mb-3 venta" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../../assets/Images/pianos/sintetizador-4.jpg" class="sintetizadores img-fluid rounded-start" style="max-height: 240px;" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Sintetizador Roland GAIA SH-01</h5>
            <p class="card-text">
              Destacando por su sonido masivo, facilidad de uso y un panel de control divertido, el Roland GAIA SH-01 integra tres motores de sonido analógico virtuales, cada uno con un oscilador dedicado, filtro, amplificador, envolvente y LFO. Encadena hasta 5 efectos simultáneos, incluyendo distorsión, Flanger, Delay, Reverb, low Boost, y más. Ideal para estudiantes, compositores, músicos de sesión, y músicos de directo de cualquier nivel y estilo.
              
            <p class="card-text"><small class="text-muted">$1'500.000</small></p>
          </div>
        </div>
      </div>
  </div>
</div>

