<div class="row animated bounceInRight">
  <div class="col-6 card mb-3 venta" style="max-width: 600px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../../assets/Images/pianos/piano-rojo-niños.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Piano niño rojo</h5>
            <p class="card-text">Juguetes de Piano para niños, conjunto de instrumentos musicales para niños, instrumentos musicales para niños, juego de piano para niño</p>
            <p class="card-text"><small class="text-muted">$
              490.438</small></p>
          </div>
        </div>
      </div>
  </div>
  <div class="col-6 card mb-3 venta" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../../assets/Images/pianos/piano-rosa-niñas.jpg" class="img-fluid rounded-start" alt="..." id="piano-rosa">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Piano niña rosado </h5>
            <p class="card-text">
              Juguetes de Piano para niños, conjunto de instrumentos musicales para niños, instrumentos musicales para niños, juego de piano para niño
              
            <p class="card-text"><small class="text-muted">$475.000</small></p>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row animated bounceInLeft">
  <div class="col-6 card mb-3 venta" style="max-width: 600px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../../assets/Images/pianos/piano-juguete.jpg" class="img-fluid rounded-start" style="max-height: 240px;" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Piano de juguete para niños</h5>
            <p class="card-text">Organeta piano teclado mp3 con sillita base para niño o niña
            <p class="card-text"><small class="text-muted">$
              169.900</small></p>
          </div>
        </div>
      </div>
  </div>
  
</div>