<div class="row animated bounceInRight">
    <div class="col-6 card mb-3 venta" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
              <br>
            <img src="../../../../assets/Images/pianos/cassio-1.PNG" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Combo Casio Sa-77 Teclado Estuche Base Adaptador</h5>
              <p class="card-text">Casio SA-77 disponible en Music Box Colombia, distribuidor autorizado en Bogota. Envíos a todo el país.</p>
              <p class="card-text"><small class="text-muted">$
                425.438</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="col-6 card mb-3 venta" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
              <br>
            <img src="../../../../assets/Images/pianos/cassio-2.PNG" class="img-fluid rounded-start" alt="..." id="piano-rosa">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">TECLADO CASIO CT-S200 BK + BASE + FORRO + ADAPT AD-E95100LU </h5>
              <p class="card-text">
                PROARTES PLUS DISTRIBUIDOR AUTORIZADO CASIO. COMPRE ORIGINALTECLADO CASIO CT-S200 BK + BASE + FORRO + ADAPTADOR AD-E95100LU CT-S200BK NEGROLa forma más sencilla para entrar en la música con un nuevo estilo de reproducción.
                
              <p class="card-text"><small class="text-muted">$775.000</small></p>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <div class="row animated bounceInLeft">
    <div class="col-6 card mb-3 venta" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src=".../../../../assets/Images/pianos/cassio-3.PNG" class="img-fluid rounded-start" style="max-height: 240px;" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Piano Casio Sa47 Teclado Organeta 32teclas</h5>
              <p class="card-text">Casio SA47 disponible en Music Box Colombia, distribuidor autorizado en Bogota. Envíos a todo el país.
              <p class="card-text"><small class="text-muted">$
                329.900</small></p>
            </div>
          </div>
        </div>
    </div>
    
  </div>