<div class="row">
    <img class="col-1 nav-link disabled imagen-logo animated bounceInDown" src="../assets/Images/Logo.png" alt="">
      <div class="col-7 search">
       <form class="d-flex animated bounceInRight">
         <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
         <button class="btn btn-outline-dark" type="submit">
           <span></span> Buscar
         </button>
       </form>
      </div>
      <div class="col-3 search navbar-brand" style="text-align: right; font-size: 30px;">
           <div class="social-media ">
               <a style="color: rgb(32, 30, 37);" href="https://www.facebook.com/" class="social fab fa-facebook-f"></a>
               <a style="color: rgb(32, 30, 37);" href="https://www.instagram.com/" class="social fab fa-instagram"></a>
               <a style="color: rgb(32, 30, 37);" href="https://www.twitter.com/" class="social fab fa-twitter"></a>
               <a style="color: rgb(32, 30, 37);" href="https://www.youtube.com/" class="social fab fa-youtube"></a></div>
      </div>
</div>
