<div class="row animated bounceInRight" id="bateria" style="text-align: center; align-content: center;">
    <h1>
      <br>
      <p class="h1-bateria" style="font-family: Albertus;">
        BATERIAS
      </p>
    </h1>
    <span style="margin-left: 10%;">
      <hr class="bg.dark" style="size: 30; width: 75%;"/>
    </span>
  </div>

  <!-- <div class="row">
      <div class="col-4">
        <div class="card mb-3">
            <h3 class="card-header">Card header</h3>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <h6 class="card-subtitle text-muted">Support card subtitle</h6>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
  </div> -->


<section class="row animated bounceInLeft post-content">
   <div class="col-12 post-details presentacion">
     <div class="row">
        <div class="card-group">
          <div class="card">
            <img src="../assets/Images/Muestra/b4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> Tambor Electrico</h5>
              <p class="card-text">Donner DED-80 - Juego de tambor eléctrico, kit de tambor electrónico para principiantes con 180 sonidos.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="../assets/Images/Muestra/i1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bateria Electronica Avatar</h5>
              <p class="card-text">Avatar diseñó el SD61-4 para satisfacer todas tus demandas en el arranque en tu viaje al mundo de la batería. Este Kit cuenta con 4 pads de parche de malla de 7.5" (3 toms, 1 caja), y 3 platillos de 10 pulgadas, organizándose perfectamente en un sólido rack de meta/p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="../assets/Images/Muestra/g4_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bateria 5 Piezas Mapex</h5>
              <p class="card-text">Mapex da acceso al mundo de la batería con una gran calidad y estilo. La serie Prodigy, fabricada en tilo con acabado recubierto, es una batería de gran sonido, ideal para todo tipo de música. Este set viene con lo necesario para comenzar a tocar tus primeros ritmos.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
     </div>
      <br>
   </div>
</section>
